<!DOCTYPE html>

<html>
<title>


</title>

{{>header}}
<body>
    
    <h1>This is the {{title}}</h1>
    {{>menu}}
    <p>This application is created by Hummed Yousaf Baig. This is his first attempt on nodejs.</p>
    <img class="potrait" src="/public/images/IMG_6777.jpg">
    <p>{{name}}</p>
    {{>footer}}
</body>
</html>